@import './variables.scss';

/* Actual code example */
$animation-duration: 0.4s;

@mixin label-active() {
  font-size: 13px;
  line-height: 17px;
  font-weight: 500;
}
@mixin label-translateY() {
  transform: translateY(-14px);
}

.form-field {
  display: block;
  margin-bottom: 16px;
  
  &--is-active {
    .form-field__control {
      &::after {
        border-bottom: 2px solid $primary-color;
        transform: scaleX(150);
      }
    }
    .form-field__label {
      color: $primary-color;
      @include label-active();
      @include label-translateY();
      background: $white-color;
      padding: 0 5px 0 0;
      margin: 6px 14px 0;
      width: auto;
    }
    .form-field__input,
    .form-field__textarea {
      color: $primary-color;
      &::placeholder {
        color: $form-input-color;
      }
    }
  }
  &--is-filled {
    .form-field__label {
      color: $primary-color;
      @include label-active();
      @include label-translateY();
      background: $white-color;
      padding: 0 5px 0 0;
      margin: 6px 14px 0;
      width: auto;
    }
    .form-field__input,
    .form-field__textarea {
      color: $primary-color;
      &::placeholder {
        color: $form-input-color;
      }
    }
  }
  &.other-field {
    // float: left;
    margin-bottom: 16px;
    .form-field__label {
      @include label-active();
      padding: 0px 0px;
      margin: 0 0 5px;
      position: inherit;
    }
  }
}
.form-field__label {
  display: block;
  font-weight: normal;
  left: 0;
  margin: 2px;
  padding: 10px 21px 5px 10px;
  color: #000000;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  font-size: 14px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.form-field__control {
  position: relative;
  width: 100%;
  .form-dropdown-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.form-field__input,
.form-field__textarea {
    appearance: none;
    background: transparent;
    border: 1px solid $dark-gray-30;
    color: $white-color;
    display: block;
    font-size: 14px;
    outline: 0;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    line-height: 20px;
    &::placeholder {
      color: $white-color;
    }
    &.appearance-auto {
      appearance: auto;
      height: 35px;
    }
}
.form-field__textarea {
  height: 150px;
}
::-webkit-file-upload-button {
  // visibility: hidden;
  background-image: url("../images/feather-upload.svg");
  background-repeat: no-repeat;
  background-color:  $primary-color;
  border: none;
  color: $white-color;
  padding: 5px 15px 5px 35px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 5px;
  background-position: 12px 6px;
  margin-right: 10px;
}
.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
  margin-bottom: 0;
  input {
    display:none;
  }
  input:checked + .slider {
    background-color: $primary-color;
    &:before {
      transform: translateX(22px);
    }    
  }
  .slider {
    background-color: $setting-tab-active;
    border: 1px solid $dark-gray;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    &:before {
      background-color: $red-color;
      bottom: -1px;
      content: "";
      height: 20px;
      left: -2px;
      position: absolute;
      transition: 0.4s;
      width: 20px;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
}
input[type='radio']:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  top: -2px;
  // left: -1px;
  position: relative;
  background-color: $white-color;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid $dark-gray;
}

input[type='radio']:checked:after {
  position: relative;
  background-color: $primary-color;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid $dark-gray;
}