@import './bootstrap/bootstrap.scss';
@import './fonts.scss';

$primary-color: #0D3745;
$primary-color-30: #0D374530;
$dark-primary-color: #272643;
$white-color: #ffffff;
$off-white-color: #F5F6F8;
$black-color: #000000;
$black-22-color: #222222;
$black-color-30: #00000030;
$black-color-1a: #0000001a;
$dark-gray: #707070;
$dark-gray-2: #BBC5D5;
$dark-gray-30: #70707030;
$red-color: #BE2623;
$light-gray: #EAE8DC;
$light-gray-2: #F1E8E6;
$green: #34C38F;

$link-color: #0070D2;
$link-color-2: #8472FF;
$menu-active-color: #F46A6A;
$setting-tab-active: #F3F2F2;
$form-input-color: #727173;

$font-family-poppins: 'Poppins';